body{
    background: linear-gradient(#e1bee7, #ab47bc );
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.profile-img-card {
    width: 200px;
    height: 200px;
    margin: 0 auto ;
    display: block;

}
a{
    font-family: 'Lobster', cursive; 
}
h1{
    margin: 1px;
    color: black;
    text-align: center;
    font-family: 'Lobster', cursive; 
    font-size: 3em;
}

.title-box {
    text-align: center;

}
thead{
    text-align: center;
}
th{
    font-family: 'Lobster', cursive; 
}

.btn-nueva {
    margin: 2px 0 14px 0;
}
td, th,button{
    text-align: center;
}

#tabla{
    padding: 1px 1px 0px 1px;

    background: white;
    border-radius: 8px;
}

.breadcrumbs {
    background: rgba(0,0,0,0.2);

    padding: 10px 0;
    color: black;
    font-size: 0;

}
.breadcrumbs a,
.breadcrumbs .last-crumb {
    color:black;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    padding: 0 20px 0 12px;
    position: relative;
}
.breadcrumbs a:after {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    content: "";
    display: block;
    margin: -6px 0 0 0;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 0;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
   /* -webkit-transform:rotate(45deg);*/
    transform:rotate(45deg);
}
.hidden {
    display: none;
}
span{
    font-family: 'Lobster', cursive; 
    opacity: 0.7;
}
@media only screen and (max-width: 1024px){
    #tabla{
        padding: 1px 1px 3px 1px;

        background: white;
        border-radius: 8px;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
text-transform: capitalize;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }
    .table td, .table th {
        height: 40px !important;
    }


    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50% !important;
    }

    td:before {
        /* Now like a table header */

        content: attr(data-th) ": ";
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        line-height: 45px;
        font-family: 'Lobster', cursive; 

    }
    .boto {
        padding: .3px; 
        font-size: 12px;
    } 

}
.texto{
    text-transform: capitalize;
}
.table td, table th{
vertical-align: text-bottom !important;
}

.fab {
    font-size: 25px;
}
.far{
    font-size: 25px;
}